.collection {
	padding: 1rem;
}

.containerPhotos {
	display: flex;
	overflow: auto;
	gap: 10px;
	margin: 1rem 0;
	border-radius: 1rem;
}
.containerImgs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	.imgCollection {
		width: 150px;
		height: 200px;
		object-fit: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 10px;
	}
}
