.containNav {
	background-color: var(--navbar--color);
	position: fixed;
	bottom: 0;
	width: 80%;
	left: 10%;
	margin: 1rem 0;
	border-radius: 1rem;
	ul {
		display: flex;
		justify-content: space-evenly;
		list-style: none;
		padding: 0;
		li {
			a {
				color: var(--text--color);
			}
		}
	}
}

@media (min-width: 768px) {
	.containNav {
		background-color: transparent;
		border-radius: 0;
		border-bottom: 1px solid var(--title--color);
		position: relative;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		width: 400px;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		& ul {
			width: 100%;
		}
	}
}
