.Home {
	min-height: 100vh;
	padding: 1rem;
	margin-bottom: 3rem;
}
.headerHome {
	margin-bottom: 1.5rem;
}

.titleHome {
	margin: 0.5rem 0;
	color: var(--title--color);
}
.textHome {
	margin: 0;
}

@media (min-width: 375px) and (max-width: 767px) {
	.Home {
		padding: 0.5rem 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 768px) {
	.Home {
		padding: 0.5rem 5rem;
	}
}
