.containerPhoto {
	position: relative;
	.optionsPhoto {
		position: relative;
		z-index: 20;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2rem;
		a {
			margin: 1rem;
			border: none;
			background-color: var(--title--color);
			border-radius: 1rem;
			padding: 0.5rem 2rem;
			font-size: 1.5rem;
		}
	}
	.imgFit {
		object-fit: cover;
		position: absolute;
		top: -2rem;
		left: 0;
	}
	.imgContain {
		object-fit: contain;
		position: absolute;
		left: 0;
		width: 100vw;
		top: 0;
		min-height: 8rem;
	}
}
.containerModal {
	position: absolute;
	bottom: 0rem;
	width: 100%;
}

@media (min-width: 600px) {
	.containViewFoto {
		display: flex;
		padding: 1rem 5rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	.containerPhoto {
		padding: 1rem;
		.imgFit {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			object-fit: contain;
			border-radius: 1rem;
		}
		.imgContain {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			border-radius: 1rem;
			object-fit: contain;
		}
	}
	.containerModal {
		position: relative;
		bottom: 0;
	}
}
