.renderSearch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--card--color);
	margin: 1rem;
	min-height: 80vh;
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 1rem;
	margin-bottom: 5rem;
	.titleSearch {
		text-align: center;
		letter-spacing: 4px;
	}
}

.formSearch {
	display: flex;
	margin: 1rem 0;
	label {
		display: flex;
		align-items: center;
		background-color: var(--background--color);
		padding: 0.5rem 0;
		box-sizing: border-box;
		border-radius: 0.5rem;
		.iconFormSearch {
			margin-right: 0.5rem;
			font-size: 1.5rem;
		}
		.inputFormSearch {
			background-color: transparent;
			width: 100%;
			border: none;
			color: var(--text--color);
			&:focus {
				outline: none;
			}
		}
	}
	.btnFormSearch {
		background-color: var(--title--color);
		border: none;
		margin: 0 1rem;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		color: var(--background--color);
		transition: all 0.4s ease-in-out;
		&:hover {
			cursor: pointer;
		}
	}
}

.renderPhotos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.imgPhoto {
	width: 100%;
	object-fit: cover;
	border-radius: 1rem;
}
@media (min-width: 375px) and (max-width: 767px) {
	.renderPhotos {
		gap: 0.5rem;
	}
}
@media (min-width: 768px) {
	.containSearch {
		width: 100%;
	}
	.renderPhotos {
		gap: 1rem;
	}
	.inputFormSearch {
		font-size: 1.2rem;
	}
	.formSearch {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
@media (min-width: 1023px) {
	.search {
		margin: 1rem 6rem;
		.renderPhotos {
			padding: 5rem;
		}
	}
}
